/* Icon Component */

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--spacing-6);
    height: var(--spacing-6);
}

.icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

/* Size variants */
.icon--sm {
    width: var(--spacing-4);
    height: var(--spacing-4);
}

.icon--md {
    width: var(--spacing-6);
    height: var(--spacing-6);
}

.icon--lg {
    width: var(--spacing-8);
    height: var(--spacing-8);
}